{{template "header.html" .}}
<section class="popular-books p-5">
    <div class="container-fluid popular-books">
            <!-- title -->
            <div class="row">
                <div class="col text-center py-5">
                    <h2 class="text-secondary text-uppercase font-italic common-title">
                        {{.Name}}
                    </h2>
                </div>
            </div>
            <!-- End of the title -->
            
            <div class="row col-x1-3 col-lg-4 col-sm-8 rotate">
                <div class="card text-center mb-3 book-card-buy">
                    <div class="card-header">
                        <h4 class="font-weight-light">{{.Name}}</h4>
                    </div>
                    <div class="card-body">
                        <img src="/images/random_book1.jpeg" class="img-fluid rounded">
                    </div>
                    <div class="card-footer">
                        By {{.Author}} 
                    </div>
                    <div class="back">
                        <div class="back-content">
                            <h1 class="text-uppercase font-weight-light font-italic">
                                Only for
                            </h1>
                            <h1 class="mb-3">{{.Price}}$</h1>
                            <p><del>${{.Price}}</del></p>
                            <a href="/buy.html" class="btn btn-outline-danger">Buy now</a>
                        </div>
                    </div>
                    <article class="intro">
                    <hr>
                        {{.Description}}
				    <hr class="last">
			        </article>
                </div>
            </div>
    </div>
</section>
{{template "footer.html" .}}