<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
	<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="images/background_book.jpeg">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style2.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/lightbox.css">
    <title>Book shop</title>
    </head>
	<body>
        <div class="text-center search">
            <form id="form" method="POST" action="/search/books.html">
                <input id="searchbar" name="searchbar" class="pull-right" type="text" placeholder="Enter a stock: " required>
                <input class="btn btn-outline-danger" type="submit" value="search" />
            </form>
        </div>
         <div class="align-self-start search">
            <a href="/index.html">
                <img src="/images/random_book1.jpeg" width="100" class="img-fluid m-2">
            </a>
        </div>
    <div class="container-fluid famous-writers pb-5" id="wrapper">
            <!-- title -->
            <div class="row">
                <div class="col text-center py-5">
                    <h2 class="text-secondaty text-uppercase font-italic common-title">
                        All books avaliable
                    </h2>
                </div>
            </div>
            <!-- end of the title -->
            {{range .}}
                <form id="{{.Name}}form" method="GET" action="/{{.Name}}/book-name.html">
                <div class="row text-center book rows-books">
                    <h4>{{.Name}} {{.Author}} {{.Price}}$</h4>
                    <button type="submit" form="{{.Name}}form" class="btn btn-outline-danger" id="{{.Name}}">Buy now</a>
                </div>
                </form>
            {{else}}
                <div class="row text-center book rows-books">
                    <h2 class="text-center">Sorry! No books avaliable</h2>
                </div>
            {{end}}
     </div>
</div> 
{{template "footer.html" .}}