{{template "header.html" .}}
<!-- Suggested books -->
    <section class="suggested-books">
        <div class="container-fluid myborder">
            <!-- title -->
            <div class="row">
                <div class="col text-center py-5">
                    <h2 class="text-secondaty text-uppercase font-italic common-title">
                        Suggested books
                    </h2>
                </div>
            </div>
            <!-- End of the title -->
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-10 mx-auto books">
                    <a href="#"><img src="images/bgbook3.jpeg" class="img-fluid book"></a>
                    <a href="#"><img src="images/bgbook4.jpeg" class="img-fluid book"></a>
                    <a href="#"><img src="images/bgbook5.jpeg" class="img-fluid book"></a>
                    <a href="#"><img src="images/bgbook4.jpeg" class="img-fluid book"></a>
                </div>
            </div>
        </div>
    </section>
{{template "footer.html" .}}
