{{template "header.html" .}}
<section class="popular-books p-5">
    <div class="align-self-start position-absolute">
        <a href="#">
            <img src="images/random_book1.jpeg" width="100" class="img-fluid m-2">
        </a>
    </div>
    <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h1 class="text-light display-1 popular-books-head"> 
                        We <img src="images/hands_heart.jpeg" width="300" class="img-fluid"> 
                        reading </h1>
                    <a href="#" class="btn btn-lg btn-outline-warning text-uppercase px-5">
                        Check out
                    </a>
                </div>
            </div>
            
        </div>
</section>
{{template "footer.html" .}}